* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  /* For screens between 980px(highest) and 769px(lowest) */
@media screen and (max-width: 980px) {

}
  /* for tablets and sizes between 768px(highest) 576px(lowest)*/
@media screen and (max-width: 768px) {
}
/* For mobile phones and smaller between 575px(highest) and lower*/
@media screen and (max-width: 575px){
  .con {
    flex-direction: column;
  }
header {
    width: 100%;
    text-align: center;
  }
  header ul{
    flex-direction: column;
  }

  .About-Me{
    flex-direction: column;
  }
}





  /* body settings */
body {
  color: #374d50;
  font-family: Helvetica, Arial, sans-serif;
}

/*Utility settings */
.con {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
/*header settings */
header {
  display: flex;
  padding: 20px 35px;
  background-color: #374d50;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: large;
}
header h1 {
  color: #fff;
  margin: 0;
}
header nav {
  margin: 7px 0;
  padding: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  color: #fff;
}
header nav ul li a:hover {
  background: #374d50;
  color: black;
  text-shadow: none;
}
Header a {
  text-decoration: none;
}
/*Hero Section*/
.Hero {
  background-image: url('../images/photo-1616998193501-308daa7d6150.jfif');
  background-size:cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Tong {
  display: flex;
}
.Tong img {
  box-shadow: 5px 10px 15px black;
  height: auto;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
.quote {
  display: flex;
  flex-wrap: wrap;
  margin : 0px auto;
  align-items: center;
}
.quote h2 {
  color: #fff;
  width: 100%;
  height: auto;
}
/*Overall Section Settings*/
.wrkttl{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: auto;
  color: #fff;
  text-align: left;
  border-right-style: solid;
  width: 20%;
  height: auto;
}
.firstsp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.About-Me {
  display: flex;
  background-color: #374d50;
  border-style: solid;
  border-color: black;
}
/*About Me Settings*/
.card {
  display: flex;
  flex-wrap: wrap;
  border-right-style: solid;
  border-color: black;
  color: #fff;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: auto;
}
/*My Work Settings*/
.My-Work{
  display: flex;
  background-color: #374d50;
  border-style: solid;
  border-color: black;
}
.ecb{
  display: flex;
  flex-wrap: wrap;
  border-right-style: solid;
  border-color: black;
  color: #fff;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  width: 98%;
  height: auto;
}

/* Run Buddy Div */
.Run-buddy {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 104%;
  height: auto;
  color: #fff;
}
.Run-buddy:hover{
  opacity: 0.7;    
}
.Run-buddy a {
  text-decoration: none;
  color: #fff;  
}
/*contact info*/
.Contact {
  display: flex;
  background-color: #374d50;
  border-style: solid;
  border-color: black;
}
.ci {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-style: solid;
  border-color: black;
  color: #fff;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: auto;
}
.addy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  display: inline-block;
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: black;
  margin: 5px;
  padding: 5px;
}
.addy h3 {
  color: #fff;
}
.addy address{
  color: #fff;
}
